@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

iframe,
video,
img {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #131E15;
}

body{
    background-color: #d1f9f9;
}

#Contents{
    width: 1240px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    font-size: 14px;
}

#Blog{
    width: 1240px;
    margin: 0 auto;
    margin-top: 100px;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin: 0 auto;
}

ul li{
    width: 45%;
}

ul li p{
    padding: 20px 0;
    text-align: center;}


h1{
    font-family: Kaushan Script, cursive;
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

h1 p{
    width: 400px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background-color: #379e9e;
}

ul li img{
    border-radius: 30px 30px 0 0;
    box-shadow: 3px 0 0 0 rgba(54, 57, 56, 0.2);
}



.bg_color1{
    background-color: #9ee0e0;
    padding: 40px 0;
    border-radius: 30px;
}

.bg_color2{
    margin-bottom: 30px;
    font-size: 14px;
    border-radius: 0 0 30px 30px;
    box-shadow: 2px 2px 2px 1px rgba(54, 57, 56, 0.2);
    background-color: #fff;
}

video{
    border: 3px dashed #9ee0e0;
    border-radius: 30px;
}



.line{
    width: 10%;
    border-top: 5px solid #379e9e;
    padding: 0;
    margin: 30px auto 0;
}

button{
    background-color: #81d1d1;
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

button a{
    color: #fff;
}

ol{
    width: 900PX;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

ol li{
    margin-top: 100px;
}

.padding1{
    padding: 0 20px;
}

#Youtube_Shorts{
    padding-bottom: 100px;
}
